@import "tailwindcss";
@font-face {
  font-family: "Roboto";
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  src: url('./assets/fonts/Cinzel-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@keyframes ringing {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(15deg); }
  30% { transform: rotate(-15deg); }
  45% { transform: rotate(10deg); }
  60% { transform: rotate(-10deg); }
  75% { transform: rotate(5deg); }
  85% { transform: rotate(-5deg); }
  92% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}



@theme{
  --font-display:"Roboto","sans-serif";
  --font-cinzel:"Cinzel","sans-serif";
}
html,body{
  margin: 0;
  padding:0;
  background-color: #0f0f0f;
  color: white;
}